.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001A56; /* 배경색 추가 */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 상단 정렬을 유지 */
  min-height: 100vh; /* 높이를 최소 100vh로 설정 */
  padding-top: 20px; /* 상단 여백을 20px로 조정 */
  background-color: rgba(0, 26, 86, 1);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 1px,
    transparent 2px
  );
  background-size: 21px 100%; /* 간격 20px + 두께 px */
}

.logo {
  margin-top: 10px;
  margin-bottom: 40px;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin-top: -5px;
  text-align: center;
  color: #FFF;
  font-family: 'Pretendard', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
  padding-top: 0px; /* heading 상단 여백 추가 */
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 0px; /* 버튼 컨테이너 상단 여백 추가 */
}

.button {
  display: inline-block;
  width: 90px;
  height: 26px;
  margin: 10px;
  background-color: transparent; /* 초기 배경색은 투명 */
  color: white; /* 글자 색상 */
  text-align: center;
  line-height: 26px; /* 세로 정렬을 위해 버튼 높이와 동일하게 설정 */
  text-decoration: none;
  border: 1px solid white; /* 테두리 설정 */
  border-radius: 24px; /* 둥근 모서리 */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* 배경색과 테두리 색상 전환 효과 */
}

.button:hover {
  background-color: #FBE64D; /* 커서를 올렸을 때의 배경색 */
  color: black; /* 커서를 올렸을 때의 글자 색상 변경, 필요에 따라 조정 */
  border-color: transparent; /* 테두리를 투명하게 하여 사라지게 함 */
}

.movie-posters {
  position: relative;
  height: 500px; 
}

.poster {
  position: absolute;
  width: 220px;
  height: 330px;
}

.poster-1 {
  top: 60px; 
  left: -230px; 
  transform: rotate(-10deg); 
}

.poster-2 {
  top: 130px;
  left: 15px; 
  transform: rotate(10deg);
}

.poster-3 {
  top: 350px; 
  left: -120px; 
  transform: rotate(0deg); 
}

/* 미디어 쿼리는 그대로 유지 */
@media (max-width: 720px) {
  .heading {
    font-size: 15px; /* 화면이 720px 이하일 때 글씨 크기 조정 */
  }

  .logo {
    width: 20vw;
    margin-top: 50px; /* 로고 상단 여백을 50px로 줄임 */
    max-width: 200px;
  }

  .button {
    width: 66px; /* 화면이 720px 이하일 때 버튼 너비 */
    font-size: 14px; /* 화면이 720px 이하일 때 버튼 내 글씨 크기 */
  }
}
