.mycalPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myPageLogo {
  width: 150px;
  margin-top: 15px;
}

.myPageTitle {
  margin-top: 11px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  color: #FBE64D; 
}

.navButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 50px;
  margin-top: 10px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.navButton {
  width: 150px;
  height: 30px;
  background-color: white;
  color: black; 
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  border: 1px solid white; 
}

.navButton:hover,
.navButton.active {
  background-color: #FBE64D;
  color: black;
}

.recordButton {
  margin-top: 40px;
  padding: 7px 20px;
  background-color: #2F4881;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.recordButton:hover {
  color: #FBE64D; 
  border-color: #FBE64D; 
}


.recordButton:active {
  color: #FBE64D;
  border-color: #FBE64D;
}

.calendar-container {
  border-radius: 8px;
  width: 455px;
  height: 475px;
  margin: auto;
  margin-top: 20px;
  padding: 25px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fc-toolbar-title {
  font-size: 16px;
  font-weight: lighter;
  color: #000000;
}

.fc .fc-today-button {
  background-color: #FBE64D;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 20px;
  height: 30px;
}

.fc .fc-prev-button,
.fc .fc-next-button {
  font-weight: lighter;
  font-size: 20px;
  height: 30px;
  background-color: #FBE64D;
  color: rgb(0, 0, 0);
}


.fc-day-sun a {
  color: red;
}

.fc .fc-daygrid-day-top {
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
}

.fc-daygrid-day-number {
  font-size: 12px;
  font-weight: lighter;
}

.fc-col-header-cell-cushion {
  font-size: 12px;
}

.fc-toolbar-chunk .fc-button {
  min-width: 30px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.fc-event {
  background-color: #FF69B4; /* 핑크색 */
  border: none;
}

