.mywishPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .myPageLogo {
    width: 150px;
    margin-top: 20px;
  }
  
  .myPageTitle {
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #FBE64D;
  }
  
  .navButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  .navButton {
    width: 150px;
    height: 30px;
    background-color: white; 
    color: black; 
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; 
    border: 1px solid white; 
  }
  
  .navButton:hover, .navButton.active {
    background-color: #FBE64D;
    color: black; 
  }