.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 200px; 
  height: auto;
  background-color: white;
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px; 
}

.modalHeader {
  font-size: 13px;
  text-align: center; 
  color: black;
  margin-bottom: 15px;
}

.radioGroup {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: flex-start; 
  width: 100%;
  margin: 10px 0;
}

.radioOption {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  width: 100%;
  margin-bottom: 10px; 
  box-sizing: border-box;
}

.radioOption input[type="radio"] {
  margin-right: 10px; /* 적절한 margin 설정 */
  padding: 0;
}

.radioLabel {
  font-size: 12px;
  color: black;
  margin-right: 0; 
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px; 
  border-radius: 10px; 
}

.closeButton, .saveButton {
  flex: 1; 
  margin: 0 10px; 
  padding: 5px 0;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px; 
}

.closeButton:hover, .saveButton:hover {
  background-color: #FBE64D;
  color: black;
}

.noMovies {
  color: white; /* 하얀색으로 변경 */
  font-size: 16px; /* 필요에 따라 크기 조정 */
  text-align: center;
  margin-top: 20px;
}
